<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/wechat_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeChatProject"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">

        <activity android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- 此处将LoginActivity设置为首先进入的界面 -->
            </intent-filter>
        </activity>
        <activity android:name=".login.RegisterActivity"
            android:exported="true">
        </activity>
        <activity android:name=".login.WeChatLoginActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity android:name=".user.SettingsActivity"
            android:exported="true">
        </activity>
        <activity android:name=".message.Add_friendsActivity"
        android:exported="true">
        </activity>
        <activity android:name=".contact.AddFriends_CardActivity"
            android:exported="true">
        </activity>
        <activity android:name=".contact.Friends_CardActivity"
            android:exported="true">
        </activity>
        <activity android:name=".message.ChatActivity"
            android:exported="true">
        </activity>
        <activity android:name=".user.IPActivity"
            android:exported="true">
        </activity>
        <activity android:name=".user.SignatureActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>